body {
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.display{
    display: flex;
    border: solid black;
    flex: 1;
    height: 50px;
    background-color: beige;
    justify-content: center;
    align-items: center;
}

.calc-outline{
    display: flex;
    width : 350px;
    height: 450px;
    flex-flow: column;
    border:solid black;
    background-color: lightgray;
}

.calc-top{
    display: flex;
}

.calc-bot{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    padding: 50px 50px 50px 50px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: solid black;
    background-color: yellow;
    font-size: 20px;
}
#clear, #back{
    width:124px;
    background-color: red;
    font-weight: bold;
    font-size: 30px;
}
#plus, #minus, #times, #divide, #enter {
    background-color: seagreen;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    color: yellow;
    height: 45px;
}